<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="O. Kalu">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
    <title>Thanh Tuyen's eRegistrar - a demo spring boot webapp</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a style="padding-right: 2em;" class="navbar-brand" href="/elibrary/home">Thanh Tuyen's eRegistrar : : : a basic demo webapp using Spring Boot</a>
        <!--<span style="color: #ffffff;"> &nbsp; | &nbsp;</span>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
           <!--  <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/elibrary/book/list">Browse Books</a>
                </li>
            </ul> -->
            <form class="form-inline my-2 my-lg-0">
                <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
                <!--<a style="color: #ffffff; margin-right: 0em;" class="nav-link" href="#">John Doe</a>-->
                <!--<a href="#" class="btn btn-secondary">Sign In</a>-->
            </form>
        </div>
    </nav>

    <p>&nbsp;</p>
    <div class="container">
  
        <h3>Welcome to the eRegistrar Management system (eRMS)</h3>
        <hr/>
        <div style="font-size: 1em">
           <h3>Registrar</h3>
           <p>
The Enrollment Center combines several administrative departments in one area to better serve you: Registrar’s Office, International Health Insurance, Student Accounts, Financial Aid and Loans Management.
			</p>
			<p>
Feel free to contact us using the information below. Or stop by and see us during our office hours. We are open from Monday-Wednesday and Fridays from 9:30 a.m.-4:00 p.m. and 12:00-4:00 p.m. Thursdays. We are located in the basement of the Dreier Building.
			</p>
			<p>
<h4>Registrar’s Office</h4>
<strong>Registrar</strong>: Taniya Hallman registrar@mum.edu, (641) 472-1242</br>
<strong>Assistant Registrar</strong>: Arla Rabalais, arabalais@mum.edu, (641) 472-7000 x 4132</br>
<strong>Data Manager</strong>: Tom Rowe, trowe@mum.edu, (641) 472-7000 x5514</br>
<strong>Assistant Data Manager</strong>: (Digital file management) Nadine Oliver, noliver@mum.edu</br>
<strong>Director of Academic Advising</strong>: Sally Jackson, academicadvising@mum.edu, (641) 472-1144</br>
<strong>Graduation Director</strong>: Danella Lubar, graduation@mum.edu(641) 472-7000 x2205</br>
<strong>Transcripts, Enrollment/Graduation Verifications</strong>: Mala Markowitz, transcripts@mum.edu, (641) 472-1157</br>
			</p>
			<p>
<h4>International Student Health Insurance</h4>
<strong>International Health Insurance Counselor</strong>: Claudia Roderiguez, crodriguez@mum.edu, (641) 472-7000 x4623</br>
			</p>
			<p>
<h4>Student Accounts Office</h4>
<strong>Director of Student Accounts</strong>: Yali Jiangyjiang@mum.edu, (641) 472-7000 x4107</br>
<strong>Assistant Director of Student Accounts</strong>: Mengyuan (Angela) Wang, stuacct@mum.edu, (641) 470-1341</br>
			</p>
			<p>
<h4>Financial Aid Office</h4>
<strong>Director of Financial Aid</strong>: Dan Wasielewski, dwasielewski@mum.edu, (641) 472-7000 x4168</br>
<strong>Awards Officer</strong>: Tim Bregenzer ,awardofficer@mum.edu, (641) 472-7000 x4723</br>
<strong>Awards Counselor</strong>: Laura Smith, finaid@mum.edu, (641) 472-1156</br>
<strong>Awards Counselor</strong>: Vina Miller (part-time), vmiller@mum.edu, (641) 472-7000 x4233</br>
			</p>
			<p>
<h4>Perkins Loan Management</h4>
<strong>Perkins Loan Manager</strong>: Joanie Romes, perkins@mum.edu, (641) 472-7000 x4125</br>
			</p>
        </div>
    </div>

<!--     <footer class="footer">
        <div class="container">
            <span class="text-muted">O. Kalu : : : CS425-SWE</span><span style="float:right;" class="text-muted">&copy; November 2018</span>
        </div>
    </footer> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
